body {
	margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;
    min-width: 960px;
	font: normal 14px 'Open Sans', sans-serif;
}

h1 {
	font-size: 36px;
	color: #343434;
}

h1, h2 {
	font-weight: 100;
}

h2, p {
	color: #444444;
}

/* @media screen and (min-width:100px) and (max-width:1024px) {
	.wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
	}
} */

/*шапка сайта*/

.wrapper {
	min-width: 1545px;
	width: 100%;
	height: 500px;
	position: absolute;
	background: url(../img/shutterstoke.jpg) no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: 0;
	/* z-index: -2; */
}

.menu {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	/* z-index: -1; */
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

.logo {
	float: left;
}

.logo img {
	padding-top: 15px;
}

.nav-menu {
	float: right;
	padding-top: 15px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.lang a {
	float: right;
	width: 18px;
	height: 14px;
	background: url(../img/lang.png) no-repeat transparent;
	margin-top: 22px;
}

a, a:hover {
	text-decoration: none;
	color: #fff;
}

.info-site {
	display: block;
	position: relative;
	color: #fff;
	width: 960px;
	margin: 0 auto;
	padding-top: 55px;
}

.info-site h1 {
	/* font-size: 36px;
	font-weight: 500; */
	color: #fff;
    line-height: 71px;
}

.triple {
	/* margin-bottom: 40px; */
	height: 10px;
	width: 30px;
}

.tr {
	display: block;
    color: #fff;
    font-size: 18px;
    margin: 0 0 -35px 32px;
    position: relative;
}

.tr::before {
	content: '';
    background: #f26341;
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid #b36840;
    left: -30px;
    top: 8px;
    position: absolute;
    z-index: 0;
}

.tr::after {
	position: absolute;
    content: '';
    height: 40px;
    width: 1px;
    left: -24px;
    top: 18px;
    background-color: #f26341;
    z-index: 1;
}

.tr:first-child::before {
	margin-top: 24px;
}

.tr:first-child::after {
	margin-top: 24px;
}

.tr:nth-child(2)::before {
	margin-top: 70px;
}

.tr:nth-child(2)::after {
	margin-top: 70px;
}

.tr:nth-child(3)::before {
	margin-top: 118px;
}


.tr:nth-child(3)::after {
	display: none;
}

.nav-info {
	float: right;
	margin-right: 582px;
	font-size: 16px;
	margin-top: 17px; 
}

.nav-info>li {
	margin-top: 28px;
	font-size: 17px;
}

.nav-info>li:first-child {
	margin-top: 0;
}





/*подписка*/

.subs {
	background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: 3px;
    padding: 15px 20px;
    padding-bottom: 15px;
	margin-top: 189px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /* z-index: 999; */
}

.topWindow{
	background-color: #fff;
    border: 1px solid #bebebe;
	border-radius: 3px;
    padding: 15px 20px;
    padding-bottom: 8px;
	/* margin-top: 98px; */
	width: 918px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 999;
	position: fixed;
	top: 0px;
}

.form {
	position: relative;
	height: 15px;
	width: 313px;
	padding: 15px 20px;
	margin-right: -4.5px;
	font-size: 14px;
}

.fix {
	margin-left: 11px;
	margin-top: -7px;
}

.fix span {
	color: #000;
	padding-left: 32px;
	padding-right: 15px;
}

.btn-start {
	text-align: center;
	display: inline-block;
	height: 32.5px;
	width: 217px;
	background-color: #f16240;
	color: #fff;
	border: none;
	padding-top: 16.5px;
}

.checked {
	content: "";
	display: block;
	width: 5px;
	height: 11px;
	border: 0 solid #000;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	margin: -1px 3px;
	pointer-events: none;
  }

.btnEditing {
	background-color: #f7977f;
  }

.colorOrange {
	text-align: center;
	display: inline-block;
	height: 32.5px;
	width: 217px;
	background-color: #F1624B;
	color: #fff;
	border: none;
	padding-top: 16.5px;
  }

.btn-social {
	display: inline;
	/* width: 960px; */
}

.goo {
	display: inline-block;
	margin: 0 0px;
	margin-top: 20px;
    width: 94px;
    height: 31px;
    border: 1px solid #f3f3f3;
    border-radius: 3%;
	background: url(../img/Google.png) no-repeat;
	background-position: -5px 0;
}





/*корявенький спрайтик*/

.fb {                                              
	display: inline-block;
	margin: 0 5px;
    width: 41px;
    height: 30px;
    border: 1px solid #f3f3f3;
    border-radius: 3%;
	background: url(../img/Sprite.png) no-repeat;
	background-position: -6px 0;
}

.in {
	display: inline-block;
	margin: 0 5px;
    width: 41px;
    height: 30px;
    border: 1px solid #f3f3f3;
    border-radius: 3%;
	background: url(../img/Sprite.png) no-repeat;
	background-position: -60px 0;
}





/*галочки*/

.chb-agree {                                           
	position: relative;
	display: block;
	padding-top: 10px;
	padding-left: 5px;
	color: #000;
	font-size: 14px;
}

.chb-agree a {
	color: #f16240;
}

/* #agree::before, #subscribe::before {
	content: "";
    display: block;
    width: 5px;
    height: 11px;
    border: 0 solid #000;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    margin: -1px 3px;
    pointer-events: none;
} */


#agree, #subscribe {
	-webkit-appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0,0,0,0.3);
    outline: none;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}




/*Create*/

.create {
	padding-top: 580px;
}

.create::after {
	position: relative;
	content: '';
    width: 107px;
    height: 2px;
    bottom: 147px;
    left: 2px;
    background: #f58c73;
	background: linear-gradient(to right,#f58c73,#fff);
}

.share::after {
	position: relative;
	content: '';
    width: 107px;
    height: 2px;
    bottom: 4px;
    left: 2px;
    background: #f58c73;
	background: linear-gradient(to right,#f58c73,#fff);
}

.extend::after {
	position: relative;
	content: '';
    width: 107px;
    height: 2px;
    bottom: 275px;
    left: 2px;
    background: #f58c73;
	background: linear-gradient(to right,#f58c73,#fff);
}

.access::after {
	position: relative;
	content: '';
    width: 107px;
    height: 2px;
    bottom: 245px;
    left: 2px;
    background: #f58c73;
	background: linear-gradient(to right,#f58c73,#fff);
}

.customer::after {
	position: relative;
	content: '';
    width: 107px;
    height: 2px;
    bottom: 7px;
    left: 2px;
    background: #f58c73;
	background: linear-gradient(to right,#f58c73,#fff);
}

.create, .share, .extend, .access, .customer {
	/* background: #fff; */
    padding-bottom: 153px;
    height: 100px;
    width: 960px;
	margin: 0 auto;
	font-size: 16px;
}

.underline {
	position: relative;
	padding-bottom: -115px;
}

/* .create h1, .share h1, .extend h1, .access h1, .customer h1 {
	color: #343434;
} */

.create h2 {
	margin-top: 63px;
	color: #444444;
}

.create p {
	margin-top: 25px;
	color: #444444;
}





/*первая карусель*/

.carousel {
	background: #fff;
	margin: 0 auto;
}

/*.custom-container a:nth-child(1) {
    margin-left: 5px;
    margin-bottom: 260px;
}
.custom-container a:nth-child(2) {
	margin-left: 5px;
    margin-bottom: 260px;
    margin-left: 955px;
}*/

.carousel img {
	width: 960px;
	height: 488px;
}

.btn-slide {
	margin-left: 420px;
}

.prev, .next, .go {
	/*margin-left: 230px;*/
	color: #f0623e;
	margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
}

.go {
	font-size: 32px;
	color: #f8b19f;
}

.go:hover {
	color: #f0623e;
}

/*не могу разобраться с активностью*/

.go:focus {
	font-size: 48px;
	color: #f0623e;
}





/*возможности*/

/*пока корявый код*/

.capabilities {
	background: #fff;
    padding-bottom: 153px;
    height: 100px;
    width: 960px;
	margin: 0 auto;
	left: 100px;
	margin-top: 40px;
	line-height: 25px;
}

.wrap {
	display: inline-block;
	width: 250px;
}

.w-two, .w-three {
	margin-left: 100px;
}

.capabilities img {
	margin-left: 50px;
	width: 35%;
	height: 35%;
}

.capabilities p {
	margin-top: 30px;
	font-size: 14px;
}






/*Share*/

.share {
	margin-top: 60px;
	background: #f7f7f7;
	height: 30px;
}

.wr-share {
	background: #f7f7f7;
}





/*вторая карусель*/

.carousel {
	background: #fff;
	margin: 0 auto;
}

/*.custom-container a:nth-child(1) {
    margin-left: 5px;
    margin-bottom: 260px;
}
.custom-container a:nth-child(2) {
	margin-left: 5px;
    margin-bottom: 260px;
    margin-left: 955px;
}*/

/*.carousel img {
	width: 960px;
	height: 488px;
}*/

.btn-slide {
	margin-left: 420px;
}

.prev, .next, .go {
	/*margin-left: 230px;*/
	color: #f0623e;
	margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
}

.go {
	font-size: 32px;
	color: #f8b19f;
}

.go:hover {
	color: #f0623e;
}

/*не могу разобраться с активностью*/

.go:focus {
	font-size: 48px;
	color: #f0623e;
}

.share-container ul img {
	width: 960px;
	height: 488px;
}

/*почему не все области закрашиваются?*/

.share-container li, .btn-more {
	background-color: #f7f7f7;
}





/*Extend*/

.extend, .extend p {
	margin-top: 40px;
}

.extend p {
	line-height: 25px;
}

.extend-pic {
	margin-left: -64px;
}





/*Access*/

/*и снова потёк текст*/

.access {
    height: 300px;
}

.wrapp-w {
	display: flex;
	width: 960px;
}

.wrapp {
	display: inline-block;
	width: 250px;
	background: #f7f7f7;
}

.w-five {
	margin-left: 100px;
}

.access p {
	margin-top: 30px;
	line-height: 24px;
}

.access {
	margin-top: 100px;
	background-color: #f7f7f7;
}

.access-container {
	background-color: #f7f7f7;
}

.access a {
	color: #f16240;
}

.btn-mobile {
	display: inline-block;
	width: 600px;
}

.android {
	display: inline-block;
	margin: 0 5px;
	margin-top: 20px;
    width: 128px;
    height: 46px;
    border: 1px solid #f3f3f3;
    border-radius: 3%;
	background: url(../img/Android.png) no-repeat;
	/*background-position: -5px 0;*/
}

.apple {
	display: inline-block;
	margin: 0 5px;
	margin-top: 20px;
    width: 128px;
    height: 46px;
    border: 1px solid #f3f3f3;
    border-radius: 3%;
	background: url(../img/Apple.png) no-repeat;
	/*background-position: -5px 0;*/
}

.access-underline {
	position: absolute;
	padding-top: 25px;
}



/*Customer*/

.customer {
	margin-top: -55px;
	height: 0px;
}


.customer-container ul img {
	width: 906px;
	height: 275px;
}






/*подвал*/

.wr-footer {
	background-color: #f7f7f7;
}

.footer {
	width: 960px;
	margin: 0 auto;
}

.footer a {
	color: #444444;
}

.about {
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
}

.about li {
	float: left;
	margin-right: 20px;
}

.ascensio {
	float: right;
	padding-top: 15px;
	padding-bottom: 15px;
}

.ascensio li {
	float: left;
	margin-right: 20px;
}

.LogIn{
	border: solid white 1px;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    background-color: unset;
	width: 100px;
	float: right;
	margin-top:15px;
	margin-right: 10px;
	padding-top:5px;
	padding-bottom: 5px;
}